<div id="register_" class="uk-flex-top" uk-modal>
  <div
    class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical uk-width-1-3"
  >
    <button class="uk-modal-close-default" type="button" uk-close></button>
    <div></div>
    <div>
      <div class="uk-text-left" uk-modal>Name</div>
      <input
        id="usupplier"
        type="text"
        placeholder="Name"
        name="uname"
        class="uk-input"
      />
      <br />
      <label id="Rsupplier" class="uk-text-danger uk-text-bolder"></label>
      <br />
      <div class="uk-text-left">Email</div>
      <input
        id="remail"
        type="textarea"
        placeholder="Email"
        name="psw"
        class="uk-input"
      />
      <br />
      <span id="raddress" class="uk-text-danger uk-text-bolder"></span>
      <br />
      <div class="uk-text-left">Phone no</div>
      <input
        id="rphone"
        type="phone"
        placeholder="Phone no"
        name="phone"
        class="uk-input"
      />
      <br />
      <br />
      <div class="uk-flex uk-flex-between uk-margin-bottom">
        <a id="btnAddUp" class="uk-button uk-width-small uk-label-success"
          >Register</a
        >
        <br />
      </div>
    </div>
  </div>
</div>
