<!DOCTYPE html>

<html lang="en">
  <head>
    <title></title>

    <!-- UIkit CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/uikit@3.6.20/dist/css/uikit.min.css"
    />

    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.6.20/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.6.20/dist/js/uikit-icons.min.js"></script>

    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"
    ></script>

    <!-- Include Quill stylesheet -->
    <link
      href="https://cdn.quilljs.com/1.0.0/quill.snow.css"
      rel="stylesheet"
    />
    <!-- Include the Quill library -->
    <script src="https://cdn.quilljs.com/1.0.0/quill.js"></script>

    <script type="text/javascript" src="/falabella.js"></script>

    <script type="text/javascript" src="/f.control.editor.js"></script>
  </head>
  <body>
    <div class="uk-height-4-5 uk-background-muted">
      <div class="uk-margin-large-top uk-margin-auto uk-width-1-3@s uk-padding-bottom uk-height-1-1">
        <input id="sendTo" type="email" placeholder="Sent to" class="uk-input uk-margin-top">
        <input id="subject" type="text" placeholder="Subject" class="uk-input uk-margin-top uk-margin-bottom"> 
        <div
          id="editorContainer"
          class="uk-background-default"
        style="height: 200px!important;"></div>

        <input id="sendMail" value="Submit" class="uk-button uk-button-primary uk-margin-top"> 

      </div>
    </div>
  </body>
</html>
